<div class="digital-campus-network-administrators-component">

  <shared-navbar-unauth-component
    [aboutUs]=true
    [signIn]=true
    [signUp]=true>
  </shared-navbar-unauth-component>

  <div class="container">

    <div class="network-administrators-header text-center">
      <h2 class="p-peersview-yb-1">Network Administrators</h2>
      <h4>Stay in control of your institution’s campus.You can manage your students and moderate their public
        conversations.</h4>
    </div>

    <div class="content ">


      <div class="row offset-md-2">
        <div class="col-sm-6 ">
          <div class="inline-widget bubble">
            <h4 class="peersview-primary-color-light">Configuration</h4>
            <ul>
              <li>Peersview support team works with you to ensure a successful launch.</li>
              <li>Manage and streamline registration process of your students on the campus.</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="inline-widget bubble">
            <h4 class="peersview-primary-color-light">User Management</h4>
            <ul>
              <li>Suspend or remove users who violate your institution’s rules.</li>
              <li>Monitor keywords to moderate inappropriate content students post within the public groups of the
                campus.
              </li>
              <li>Review reported posts and spams in the campus.</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 ">
          <div class="inline-widget bubble">
            <h4 class="peersview-primary-color-light">Group Management</h4>
            <ul>
              <li>Post announcements into different channels of the campus.</li>
              <li>Add and edit courses and classes</li>
              <li>Manage permission for public student groups.</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 ">
          <div class="inline-widget bubble">
            <h4 class="peersview-primary-color-light">Student Analytics</h4>
            <ul>
              <li>Understand your students' behaviors from news dimensions.</li>
              <li>Get a deeper understanding into levels of student satisfaction.</li>
            </ul>
          </div>
        </div>
      </div>


    </div>


    <!--    <div class="row">-->
    <!--      -->
    <!--      -->
    <!--      <div class="clear"></div>-->
    <!--      -->
    <!--      <div class="col-md-6">-->
    <!--        <div class="inline-widget bubble">-->
    <!--          <h4 class="peersview-primary-color-light">Group Management</h4>-->
    <!--          <ul>-->
    <!--            <li>Post announcements into different channels of the campus.</li>-->
    <!--            <li>Add and edit courses and classes</li>-->
    <!--            <li>Manage permission for public student groups.</li>-->
    <!--          </ul>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="col-md-6">-->
    <!--        <div class="inline-widget bubble">-->
    <!--          <h4 class="peersview-primary-color-light">Student Analytics</h4>-->
    <!--          <ul>-->
    <!--            <li>Understand your students' behaviors from news dimensions.</li>-->
    <!--            <li>Get a deeper understanding into levels of student satisfaction.</li>-->
    <!--          </ul>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      -->
    <!--      -->
    <!--    </div>-->
  </div>


  <index-footer-component></index-footer-component>

</div>
