<div class="nav-bar-institution">
  <shared-navbar-unauth-component
    [aboutUs]=true
    [signIn]=true
    [signUp]=true>
  </shared-navbar-unauth-component>

</div>
<div class="digital-campus-institutions-component">

  <div class="container">
    <div class="row">

      <div class="col-md-6 header-block">
        <div class="font-family text-center">
          <h5>Academic institution</h5>
          <h1>Infusing social interactions with learning.</h1>
        </div>
      </div>


      <div class="col-md-3">

        <div class="inline-widget bubble mouse-pointer">

          <h4 class="peersview-primary-color-light">Connect the entire school as a community</h4>

          <ul>
            <li>Connect students outside of the classroom</li>
            <li>Bring together your entire university community in one place for example, part-time
              and full time students
            </li>
            <li>Bridge across faculties, campuses, modes of study and year levels</li>
          </ul>

        </div>


        <div class="inline-widget bubble mouse-pointer">

          <h4 class="peersview-primary-color-light">Help New Student Settle in</h4>
          <ul>
            <li>Build a great sense of community and support among new students with the Peersview Campus.</li>
            <li>Start facilaitating friendships between enrollment & orientation(high attrition zone).</li>
            <li>Connect international students,regional students & remote students with their peers.</li>
          </ul>

        </div>


        <!--        <div class="inline-widget bubble mouse-pointer"-->
        <!--             slideToggle-->
        <!--             [class]="'instititution-bubble-two'">-->
        <!--          <div class="inline-widget-header color-light-purple">-->
        <!--            <i class="material-icons peersview-primary-color">add</i>-->
        <!--            <h4 class="peersview-primary-color-light">Help New Student Settle in</h4>-->
        <!--          </div>-->
        <!--          <div class="inline-content instititution-bubble-two">-->
        <!--            <ul>-->
        <!--              <li>Build a great sense of community and support among new students with the Peersview Campus.</li>-->
        <!--              <li>Start facilaitating friendships between enrollment & orientation(high attrition zone).</li>-->
        <!--              <li>Connect international students,regional students & remote students with their peers.</li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="inline-widget bubble mouse-pointer">
          <!--          <div class="inline-widget-header color-light-purple">-->
          <!--            <i class="material-icons peersview-primary-color">add</i>-->
          <!--            <h4 class="peersview-primary-color-light">Early feedback for Instructors.</h4>-->
          <!--          </div>-->
          <h4 class="peersview-primary-color-light">Early feedback for Instructors.</h4>
          <ul>
            <li>Instructors can see how students are answering individual questions in real-time,and can identify and
              address common misunderstandings in a timely fashion
            </li>

          </ul>

        </div>


      </div>


      <div class="col-md-3">
        <div class="inline-widget bubble mouse-pointer">


          <h4 class="peersview-primary-color-light">Peer Review with modern Collabaration tools</h4>
          <ul>
            <li>Student can share documents and images easily Mind map togethor, Ask questions and
              provide feedback to one another.
            </li>
          </ul>
        </div>

        <div class="inline-widget bubble mouse-pointer">
          <h4 class="peersview-primary-color-light">Ease the workload of your Orientation & Enrollment Staffs</h4>
          <ul>
            <li>Provide alternative tools for the staffs to help students.</li>
            <li>Help New students spend less times in queues.</li>
          </ul>
        </div>


        <div class="inline-widget bubble mouse-pointer">
          <h4 class="peersview-primary-color-light">Understand your students better</h4>

          <ul>
            <li>Capture interesting data on your students. Peersview delivers insightful information into
              levels of student satisfaction.
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row text-center m-peersview-y-4">
      <a [routerLink]="['/contact-us']" class="btn-peersview-primary btn-peersview-lg">Request a Demo</a>
    </div>
  </div>

  <index-footer-component></index-footer-component>

</div>
