.shared-post-component {
  button[disabled] {
    opacity: 0.7;
    cursor: default;
  }
  .post {
    margin: 5px 0;
    background-color: #ffffff;
    padding: 10px;
  }
  .user {
    color: #323c47;
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    white-space: nowrap;
  }
  .post-message {
    h4 {
      margin: 5px 5px 5px 2px;
    }
    p {
      margin: 5px 5px 5px 2px;
      font-size: 1.5rem;
      white-space: initial;

      .story-read-more-btn {
        border: none;
        background-color: transparent;
        color: #d56900;
        padding: 0;
      }
    }
  }
  .post-images {
    display: table;
    margin-bottom: 10px;
    .image-outer {
      display: inline-grid;
      .image-inner {
        margin: 0 0 2px 2px;
        border-radius: 3px;
        img {
          width: 100%;
        }
      }
    }
    .single-image {
      width: 100%;
      img {
        max-height: 150px;
        object-fit: cover;
      }
    }
    .multiple-image{
      width: 50%;
    }
  }
  .profile-stars {
    margin-top: 5px;
    .stars {
      margin: inherit;
    }
    .user-name {
      position: relative;
      top: -11px;
      display: inline-block;
      font-weight: bold;
    }
  }
  .post-user-name {
    font-weight: bold;
    cursor: pointer;
  }
  .report-post-component {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .user-school-name,
  .post-time {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: "Maven Pro", sans-serif;
    color: #989898;
  }
  .post-image {
    width: 50px;
    height: 50px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 50%;
  }
  .poll-options {
    ul {
      width: 98%;
      margin-left: 2px;
      background-color: #fcfcfc;
      li {
        padding: 3px;
        border: 1px solid #ddd;
        margin-top: -1px;
    
        input {
          margin-left: 10px;
        }
        
        .vote-shade-percentage {
          width: 0%;
          height: 20px;
          margin-top: -20px;
          background-color: #ccafde;
          border-radius: 5px;
          transition: 500ms;
        }
      }
      .poll-percentage {
        float: right;
      }
    }
  }
  .poll-details {
    width: 98%;
    padding: 5px 0;
    border-left: 3px solid #ddd;
    margin-left: 2px;
    background-color: #fcfcfc;

    div {
      padding: 0 3px;
      text-indent: 8px;
    }
  }
  .shared-post-container {
    .shared-post {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ddd;
      margin-bottom: 5px;
    }
    .post-share-user-image {
      margin-right: 3px;
      margin-top: 3px;
      border-radius: 50%;
    }
    .post-images {width: 100%;}
    .post-message {
      p {
        margin-top: 10px;
      }
    }
  }
  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {}
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {}
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .post-images {
      .single-image {
        img {
          max-height: 250px;
        }
      }
    }
  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {}
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {}
}