<div class="index-trending-now-page-component">
  <div class="container">
    <div class="text-center peersview-primary-color">
      <h5>TRENDING NOW</h5>
      <h1>Don’t Miss <i>O</i>ut</h1>
      <h4>Keep Up-to-date with your Peers around the World</h4>
    </div>
    <div class="col-md-12 p-peersview-0">
      <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Keep up</strong> with Trending News, New fashion styles and Latest gossip</span>
        </div>
      </div>
      <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Build</strong> an audience among your Peers</span>
        </div>
      </div>
      <div class="col-md-6 p-peersview-0  third-text">
        <div class="innter-container">
          <span><strong>Read and share</strong> meaningful stories on diverse issues</span>
        </div>
      </div>      
    </div>
<!--     <div>
      <div class="innter-container third-text">
        <span><strong>Read and share</strong> meaningful stories on diverse issues</span>
      </div> -->
<!--     <div class="col-md-12 p-peersview-0">
      <div class="col-md-6 p-peersview-0">
      </div> -->
<!--       <div class="col-md-6 p-peersview-0">
        <div class="innter-container">
          <span><strong>Catch</strong> the latest hilarious memes, GIFS and videos</span>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>
