.index-leisure-page-component {
  // .leisure-image{
  //   background: url('https://res.cloudinary.com/peersview-com/image/upload/v1533997852/all-students.png') no-repeat 0 -100px #000;
  // }
  // background: url('https://res.cloudinary.com/peersview-com/image/upload/v1519065568/leisureBg.jpg') no-repeat 0 -100px #000; 
  background-size: cover;
  color: #631990;
  padding: 40px 0;
  border-bottom: 1px solid #65298a;
  p {
    font-size: 20px;
  }
  .leisure-block {
    img {
      width: 100%;
      // padding-bottom: 50px;
      padding-top: 30px;
    }
    .header-block {

      h5 {
        font-size: 20px;
        // font-family: Conv_MavenPro-Bold;
        text-transform: uppercase;
      }
      small {
        margin-top: 10px;
        font-size: 18px;
        color: #631990;
      }
      p.border {
        font-family: "Maven Pro", sans-serif;
        padding: 5px 5px 5px 5px;
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-align: left;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px #b7b7b7;
        color: #631990;      
      }
    }
    h3 {
      margin-top: 0;
    }
    .center {
      padding-top: 30px;
      font-size: 20px;
    }
    .center p {
      padding: 5px 5px 5px 5px;
      text-align: left;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      text-align: left;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 5px #b7b7b7;
      color: #631990;      
    }
  }
  .col-sm-12 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .mobile-img {
    display: block;
  }
  .info-video a {
    border-radius: 5px;
  }  
  .watch-video {
    font-size: 20px;
  }
  .spacing {
    margin-bottom: 15px;
    height: 140px;
  }
  .header-block p {
    text-align: center;
  }
  .student-image {
    display: inline-flex;
    img {
      display: inline-table;
      width: 70px;
      height: 65px;
      border-radius: 32px;
    }
  }
  // Custom, iPhone Retina
  @media only screen and (min-width : 320px) {
    .center p {
      width: 100%;
    }
    .leisure-block {
      .header-block {
        p.border {
          font-family: "Maven Pro", sans-serif;
          margin: 0;
          width: 100%;
        }
      }
    }
    .spacing {
      margin-bottom: unset;
      height: 130px;
      border: unset;
    }    
    .mobile-img {
      display: block;
      padding:0px;
    }   
    .desktop-img {
      display: none;
    }
  }
  // extra Small Devices, Phones
  @media only screen and (min-width : 480px) {
    .center p {
      width: 100%;
    }  
    .leisure-block {
      .header-block {
        p.border {
          font-family: "Maven Pro", sans-serif;
          margin: 0;
          width: 100%;
        }
      }
    }      
    .spacing {
      margin-bottom: unset;
      height: 110px;
      border: unset;
    }    
  }
  // Small Devices, Tablets
  @media only screen and (min-width : 768px) {
    .center p {
      width: 100%;
    }
    .leisure-block {
      .header-block {
        p.border {
          font-family: "Maven Pro", sans-serif;
          margin-top: 10px;
          margin-left: 20%;
          margin-right: 20%;
          width: auto;
        }
      }
    }     
    .spacing {
      margin-bottom: unset;
      height: 110px;
      border: unset;
    }
    .mobile-img {
      display: block;
    }   
    .desktop-img {
      display: none;
    }   
  }
  // Medium Devices, Desktops
  @media only screen and (min-width : 992px) {
    .spacing {
      height: 160px;
    }
    .leisure-block {
      .header-block {
        p.border {
          font-family: "Maven Pro", sans-serif;
          margin-top: 10px;
          margin-left: 20%;
          margin-right: 20%;
          width: auto;
        }
      }
    }     
    .mobile-img {
      display: none;
    }   
    .desktop-img {
      display: block;
    }     
  }
  // Large Devices, Wide Screens
  @media only screen and (min-width : 1200px) {
    .spacing {
      margin-bottom: 15px;
      height: 140px;
    }
    .leisure-block {
      .header-block {
        p.border {
          font-family: "Maven Pro", sans-serif;
          margin-top: 10px;
          margin-left: 20%;
          margin-right: 20%;
          width: auto;
        }
      }
    }    
    .mobile-img {
      display: none;
    }   
    .desktop-img {
      display: block;
    }
  }
}
