<div class="index-leisure-page-component">
  <div class="leisure-block">
    <div class="container">
      <div class="row">
        <div class="header-block">
          <p>
            Digital Campus
          </p>
          <div class="header-block text-center">
            <h1>Engage With Students Across Your School</h1>
          </div>
          <div class="header-block">
            <p>
              Discover a more connected university
            </p>
          </div>

          <div class="col-md-12">
            <div class="col-md-6 desktop-img">
              <img src="https://res.cloudinary.com/peersview-com/image/upload/v1533997852/all-students.png"/></div>
            <div class="col-md-6">
              <div class="center row">
                <div class="col-sm-6 col-xs-12 student-image spacing">
                  <p>
                    Find or Create Class groups, to connect with your Classmates outside the classroom
                  </p>
                </div>
                <div class="col-sm-6 col-xs-12 padding student-image spacing">
                  <p>
                    Stay in touch with all the students in your institution,<br>On the go.
                  </p>
                </div>
              </div>
              <div class="header-block">
                <p class="border">
                  Freshers or Prospective students can connect to discuss before the school resumes.
                </p>
              </div>
              <div class="col-md-6 mobile-img"><img
                src="https://res.cloudinary.com/peersview-com/image/upload/v1533997852/all-students.png"/></div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 info-video text-center">
            <a class="btn-peersview-primary btn-peersview-lg" [routerLink]="['/sign-up']"><i></i>SIGN UP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
