<div class="shared-post-options-component">
  <div class="options-text" [ngStyle]="{'width': '100%'}">
    <div class="col-xs-6 text-center post-likes"
      (click)="onLikesLabelClick()">
      <span *ngIf="likes > 0">{{likes}}</span>
      <span>{{likes >= 2 ? ' Likes' : ' Like'}}</span>
    </div>
    <div class="col-xs-3 text-center post-comments"
      (click)="onClickCommentDetail()">
      <span *ngIf="post.postReplyCount > 0">{{post.postReplyCount}}</span>
      <span>{{post.postReplyCount >= 2 ? ' Comments' : ' Comment'}}</span>
    </div>
<!--     <div class="col-xs-3 text-center">
      <span *ngIf="post.shareCount > 0">{{post.shareCount}}</span>
      <span>{{post.shareCount >= 2 ? ' Shares' : ' Share'}}</span>
    </div> -->
  </div>
  <hr class="m-peersview-y-1 post-options-hr">
  <div class="options-logo" [ngStyle]="{'width': '100%'}">
    <div class="col-xs-6 p-peersview-0 text-center">
        <button
          class="btn-peersivew-transparent like"
          [ngClass]="post.isUserPostLike === 1 ? 'liked' : 'not-yet-liked'">
          <i class="material-icons" (click)="onClickPostLike(post.isUserPostLike)">thumb_up</i> 
          <span class="peersview-primary-color colon-separator">:</span>
          <shared-stars-component [ratingCount]="ratingCount" (onStarHover)="onStarHover($event)" (onStarClick)="onStarClick($event)"></shared-stars-component>
        </button>
    </div>
    <div class="col-xs-3 text-center">
      <button
        class="btn-peersivew-transparent reply"
        (click)="onClickCommentDetail();">
        <i class="material-icons">comment</i>
      </button>
    </div>
    <div class="col-xs-3 text-center">
<!--       <button class="btn-peersivew-transparent share" (click)="onOpenShareModal()">
        <i class="material-icons">share</i>
      </button> -->
      <button
      class="btn-peersivew-transparent share dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">share</i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a>Quote</a></li>
        <li><a>Share to Facebook</a></li>
        <li><a>Share to Twitter</a></li>
        <li><a>Copy Link</a></li>
        <!-- <li *ngIf="(post && post.isPostUser) || post.user.id === user.id"><a (click)="onOpenConfirmModal()">Delete Post</a></li> -->
      </ul>   
    </div>
  </div>
  <shared-post-reply-component
    [hidden]="hideReplySection"
    [post]="post"
    [route]="route"
  ></shared-post-reply-component>
</div>
