<div class="index-footer-component">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2">
        <cl-image
          public-id="logo">
        </cl-image>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 company">
        <span>Company</span>
        <ul>
          <li><a href='https://www.peersview-blog.com' target="_blank">Blog</a></li>
          <!-- <li><a [routerLink]="['https://www.peersview-blog.com']">Blog</a></li> -->
          <li><a [routerLink]="['/about-us']">About Us</a></li>
          <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
          <li><a>Careers</a></li>
          <li><a [routerLink]="['/terms-of-use']">Peersview Terms, and Agreement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 support">
        <span>SUPPORT</span>
        <ul>
          <li [routerLink]="['/support']"><a>Help Center</a></li>
          <li><a [routerLink]="['/contact-us']">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 campus">
        <span>Digital Campus</span>
        <ul>
          <li><a [routerLink]="['/']">Campus Administrator</a></li>
          <li><a class="tab-link3">FAQ</a></li>
          <li><a [routerLink]="['/terms-of-use-user']">Terms of Use</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 connect-with-us">
        <div class="social-block">
          <span>Connect With Us</span>
          <div class="social-list1">
            <a href="https://www.facebook.com/Peersview/" class="facebook" data-toggle="tooltip" title="Facebook"></a>
            <a href="https://twitter.com/Peersview" class="twitter" data-toggle="tooltip" title="Twitter"></a>
            <a href="https://www.instagram.com/peersview/" class="instagram" data-toggle="tooltip"
               title="Instagram"></a>
            <a class="linkedIn" data-toggle="tooltip" title="LinkedIn"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center copyright m-peersview-yt-3">
      <p>Copyright. All rights reserved.</p>
    </div>
  </div>
</div>
