.report-post-community-component {
  .dropdown {
    ul {
      background-color: #fff;
      padding: 0 15px;
      li {
        padding: 15px 15px;
    color: #000000;
    font-size: 15px;
    border-bottom: 1px solid #dbdbdb;
        &:hover {
          cursor: pointer;
        }
        a {
          font-size: 14px;
    color: #631a90;
    padding-left: 0;
        }
      }
    }
  }
}
