<shared-navbar-component></shared-navbar-component>
<div class="community-component container">


  <div class="community-left-menu hidden-xs hidden-sm left-sidebar">
    <community-left-menu-component></community-left-menu-component>
  </div>


  <div class="hidden-md hidden-lg community-content">
    <mobile-community-header-component></mobile-community-header-component>
  </div>


  <div class="contents">
    <router-outlet></router-outlet>
  </div>


</div>


